@import url("./assets/css/header.css");
@import url("./assets/css/primary-nav.css");
@import url("./assets/css/login.css");
@import url("./assets/css/body.css");
@import url("./assets/css/variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}