/* Styling the modal */
.loginModal {
    border-style: none;
    border-radius: 15px;
    top: 8em;
    margin: auto;
    position: fixed;
    padding: 1em;
    width: 25em;
    z-index: 2;
    background-color: var(--main-light-color);
}

.login__button__close__container {
    display: flex;
    justify-content: flex-end;
}

.loginModal__button__close {
    border-style: none;
    background: transparent;
    padding: 2px;
    height: 2.4em;
    border-radius: 50%;
}

.loginModal__profileImg {
    display: block;
    margin: auto;
    border-radius: 50%;
}

/* Styling the modal and its content */
.loginForm {
    display: flex;
    flex-direction: column;
}

.login__username, .login__password {

}

.login__username__input, .login__password__input {
    border-style: none;
    padding: 0.5em;
    border-radius: 10px;
}

.login__rememberMe {
    
}

.login__rememberMe__checkbox {

}

.login__button__logIn {
    border-style: none;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(0, 222, 0);
}

.login__username__input, .login__password__input, .login__rememberMe__checkbox {
    margin-bottom: .7em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

.hidden {
    display: none;
}