.products__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: red;
    border: solid black 3px;
}

.products {
    height: 20em;
    width: 18em;
    margin: 1em;
    background-color: yellow;
}